@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Oxanium;
    src: url(../fonts/Oxanium-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Raleway-Regular;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000 !important;
    transition: 0.5s;
}

body {
    background: #fff7e6;
}

.nav-right a {
    padding: 10px;
    color: #817382;
}

.nav-right > div {
    padding: 10px;
    margin-left: 10px;
}

.active-a {
    font-weight: 800 !important;
    font-size: 16px;
    color: #F95C19 !important;
}

.nav-right .search {
    background: #ffedc9;
}

.nav-right .contact {
    background: #FFE4D9;
    color: #F95C19;
}

.nav-right > div a:first-child {
    margin-right: 10px;
}

.sec-1 {
    margin-top: 150px;
}

.sec-1 .text > h1 {
    font-size: 50px;
    color: #261134;
}

.sec-1 .text > p {
    color: #4D4D4D;
}

.sec-1 .text > a {
    background-color: #f95c19;
    font-family: Oxanium;
}

.sec-1 > img {
    width: 700px;
}

.sec-2 .text > h2 {
    color: #F95C19;
}

.sec-2 .text > p {
    color: #11111D;
}

.sec-2 .cards .icon {
    background: #ffcf6f;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.sec-2 .cards i {
    margin-top: -30px;
    color: #F95C19;
    font-size: 36px;
}

.sec-2 .cards > div > div {
    border-radius: 16px;
    padding: 30px;
}

.sec-2 > div > div > h4 {
    color: #464558;
}

.sec-2 > div > div > p {
    color: #7B7A8B;
}

.sec-2 > div > div ul {
    color: #F95C19;
}

.sec-2 > div > div ul > li > span {
    color: #7B7A8B;
}

.sec-2 > div > div a {
    color: #F95C19;
    border: 1px solid #F95C19;
    font-family: Oxanium;
}

.sec-2 > div > div a:hover {
    border: 1px solid #F95C19;
}

.sec-2 > div > div a:focus {
    color: #F95C19;
}

.sec-2 .active-a {
    background-color: #f95c19 !important;
    font-family: Oxanium;
}

.sec-2 .active-a:hover {
    background-color: #f95c19 !important;
}
