@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Oxanium;
    src: url(../fonts/Oxanium-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Raleway-Regular;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000 !important;
    transition: 0.5s;
}

body {
    background: #fff7e6;
}

.nav-right a {
    padding: 10px;
    color: #817382;
}

.nav-right > div {
    padding: 10px;
    margin-left: 10px;
}

.active-a {
    font-weight: 800 !important;
    font-size: 16px;
    color: #F95C19 !important;
}

.nav-right .search {
    background: #ffedc9;
}

.nav-right .contact {
    background: #FFE4D9;
    color: #F95C19;
}

.nav-right > div a:first-child {
    margin-right: 10px;
}

.sec-1 {
    margin: 150px 0;
}

.sec-1 .text > h1 {
    font-size: 50px;
    color: #261134;
}

.sec-1 .text > p {
    color: #4D4D4D;
}

.sec-1 .text > a {
    background-color: #f95c19;
    font-family: Oxanium;
}

.sec-1 > img {
    width: 700px;
}

.sec-2 {
    margin-bottom: 150px;
}

.sec-2 .text > h2 {
    color: #F95C19;
    font-family: Oxanium;
}

.sec-2 .text > h3 {
    color: #11111D;
    margin-bottom: 60px;
}

.sec-2 .cards .icon {
    background: #ffcf6f;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.sec-2 .cards i {
    margin-top: -30px;
    color: #F95C19;
    font-size: 36px;
    margin-bottom: 24px;
}

.sec-2 .cards > div > div {
    border-radius: 16px;
    padding: 30px;
}

.sec-2 .cards > div {
    padding-right: 24px;
}

.sec-2 .cards > div:last-child {
    padding-right: 0;
}

.sec-2 > div > div h4 {
    color: #464558;
    margin-bottom: 24px;
}

.sec-2 > div > div > p {
    color: #7B7A8B;
}

.sec-2 > div > div ul {
    color: #F95C19;
    margin-bottom: 34px;
}

.sec-2 > div > div ul > li > span {
    color: #7B7A8B;
}

.sec-2 > div > div a {
    color: #F95C19;
    border: 1px solid #F95C19;
    font-family: Oxanium;
}

.sec-2 > div > div a:hover {
    border: 1px solid #F95C19;
}

.sec-2 > div > div a:focus {
    color: #F95C19;
}

.sec-2 .active-a {
    background-color: #f95c19 !important;
    font-family: Oxanium;
    color: #FFFFFF !important;
    transition: 0.3s;
}

.sec-2 .active-a:hover {
    background-color: #f95c19 !important;
    color: #000 !important;
}

.sec-3 > div > i {
    font-size: 46px;
    margin-bottom: 10px;
}

.sec-3 > div > h2 {
    font-size: 40px;
    color: #F95C19;
}

.sec-3 > div > p {
    color: #464558;
    font-size: 20px;
}

.sec-3 {
    margin-bottom: 150px;
}

.sec-4 {
    margin-bottom: 130px;
    background: linear-gradient(0deg, rgba(10, 9, 13, 0.8), rgba(10, 9, 13, 0.8)), url(../images/b096214bc398a2e20b1b2d6f1096a323.jfif);
    background-size: cover;
    height: 580px;
    border-radius: 16px;
}

.sec-4 > div {
    padding: 0 178px;
}

.sec-4 > div > a > i {
    color: #FFFFFF;
    background: #F95C19;
    border-radius: 50%;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 40px;
}

.sec-4 > div > h2 {
    color: #F95C19;
    font-size: 32px;
    font-family: Oxanium;
}

.sec-4 > div > p {
    color: #FFFFFF;
    font-size: 24px;
}

.sec-5 .titles-icon > h1 {
    font-family: Oxanium;
    font-size: 32px;
    color: #F95C19;
}

.sec-5 .titles-icon > h3 {
    font-weight: 800;
    font-size: 40px;
    color: #11111D;
}

.sec-5 .titles-icon > i {
    color: #ffd88e;
    font-size: 90px;
    margin-right: 34px;
    left: 226px;
}

.sec-5 .detail > h2 {
    font-size: 24px;
    color: #F95C19;
}

.sec-5 .detail > p {
    font-size: 16px;
    color: #464558;
}

.sec-5 .stars {
    color: #F95C19;
}

.sec-5 .profile > img {
    width: 50px;
    border-radius: 50%;
    margin-left: 12px;
}

.sec-5 .profile > div > h4 {
    font-size: 16px;
    color: #222132;
}

.sec-5 .profile > div > h5 {
    font-size: 16px;
    color: #464558;
}

.sec-5 .detail {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 80px;
}

.sec-5 .circles {
    color: #fec7a5;
    font-size: 10px;
}

.sec-5 .circles i:nth-child(2) {
    color: #f95c19;
}

.sec-5 {
    margin-bottom: 150px;
}

.sec-6 .detail > img {
    margin-bottom: 14px;
}

.sec-6 .detail > h2 {
    font-size: 24px;
    color: #F95C19;
    margin-bottom: 20px;
}

.sec-6 .detail > h1 {
    font-weight: 800;
    font-size: 38px;
    color: #222132;
}

.sec-6 .detail > h3 {
    font-weight: 600;
    font-size: 24px;
    color: #9291A1;
}

.sec-6 > div:last-child {
    background: #fff7e6;
    border: none;
}

.sec-6 > div:last-child > input:first-child {
    border: 2px solid hsl(40, 100%, 53%);
}

.sec-6 > div:last-child > textarea {
    height: 200px;
    background: #fff7e6;
    margin-bottom: 40px;
}

.sec-6 > div:last-child > input {
    margin-bottom: 10px;
    background: #fff7e6;
}

.sec-6 > div:last-child > button {
    background: #F95C19;
    border: none;
    font-family: Oxanium;
    font-size: 20px;
    color: #FFFFFF;
}

.sec-6 {
    margin-bottom: 168px;
}

.sec-7 .titles > h2 {
    font-family: Oxanium;
    font-size: 32px;
    color: #F95C19;
}

.sec-7 .titles > h1 {
    font-weight: 800;
    font-size: 39px;
    color: #222132;
    margin-bottom: 84px;
}

.sec-7 .map-detail .detail > h3 {
    font-size: 20px;
    color: #464558;
    margin-bottom: 36px;
}

.sec-7 .map-detail .detail > div > p > i {
    color: #ffbd3b;
}

.sec-7 .map-detail .detail > div {
    margin-bottom: 50px;
}

.sec-7 .map-detail .detail p {
    font-size: 16px;
    color: #5C5B6C;
}

.sec-7 .map-detail .detail {
    background: #FFFFFF;
    padding: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sec-7 .map-detail .contact i {
    padding-right: 10px;
    color: #ebebf5;
}

.sec-7 .map-detail i {
    font-size: 20px;
}

.sec-7 .map-detail .contact i:first-child {
    color: #f85b1b;
}

.sec-7 .map-detail {
    margin-bottom: 30px;
}

.sec-7 > button {
    background: #F95C19;
    border: none;
    font-family: Oxanium;
    font-size: 20px;
    color: #FFFFFF;
    padding: 14px 64px;
}

.sec-7 > button:hover {
    background: #F95C19;
    border: none;
}

.sec-7 > button:focus {
    background: #F95C19;
    border: none;
}

.sec-7 {
    margin-bottom: 184px;
}

.footer {
    background: #222132;
}

.footer .sec-one .text h2 {
    font-weight: 800;
    font-size: 38px;
    color: #FFFFFF;
}

.footer .sec-one .text p {
    font-size: 16px;
    color: #C5C5D2;
    width: 500px;
}

.footer .sec-one .form {
    color: #FFFFFF;
    width: 440px;
}

.footer .sec-one .form > label {
    font-family: Oxanium;
    font-size: 18px;
    color: #F95C19;
}

.footer .sec-one .form > div > input {
    margin-right: 10px;
    background: #222132;
}

.footer .sec-one .form > div > button {
    background: #F95C19;
    border: none;
    font-family: Oxanium;
    font-size: 20px;
    color: #FFFFFF;
}

.footer .sec-one .form > div > button:hover {
    background: #F95C19;
    border: none;
}

.footer .sec-one .form > div > button:focus {
    background: #F95C19;
    border: none;
}

.footer .sec-one {
    margin-bottom: 84px;
}

.footer .sec-two .logo {
    width: 190px;
}

.footer .sec-two .logo > img {
    width: 166px;
}

.footer .sec-two .logo > p {
    font-weight: 600;
    font-size: 16px;
    color: #9291A1;
}

.footer .sec-two .links a {
    font-weight: 600;
    font-size: 16px;
    color: #9291A1;
}

.footer .sec-two .links a:first-child {
    font-family: Oxanium;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer .links {
    width: 700px;
}

.footer .sec-two {
    background: #2f2e41;
}

.footer .sec-three p:first-child {
    font-weight: 500;
    font-size: 12px;
    color: #DBDBE9;
}

.footer .sec-three p:last-child {
    font-weight: 500;
    font-size: 12px;
    color: #E0DEDE;
}

.footer .sec-three > p > span {
    font-weight: 800;
    font-size: 12px;
    color: #F95C19;
}

.footer .sec-one {
    padding: 80px 160px;
}

.footer .sec-two {
    padding: 70px 160px;
}

.footer .sec-three {
    padding: 20px 160px;
}